.main--content {
  margin: 0;
  position: absolute;
  width: 648px;
  padding: 25px;
  height: 40px;
  left: 396px;
  top: 60px;
}

.main--title {
  margin: 0;
  font-family: Roboto;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.25px;
  text-align: left;  
}